#mobile-nav,
.menu-mobile {
	display: none;
}

#menu-mobile-menu{
	display: none;
}


.centrer, .content { 
	margin:0 auto; 
	max-width:1140px;
}
/**                                          debug du header **/
header p, header ul{margin:0;}
@media only screen and (max-width: 480px) {

	#top-nav{
	display: none;
	}
	.nav-header {
		display: none;
	}

	#mobile-nav,#menu-mobile-menu  {
		display: block;
	}
	
	
}